* {

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
}
    
.container {
    
    background-color: #eeeef3;
    
    min-height: 100vh;
    
    border: 10px solid #d55b2b;
    
    }

.content {
   max-width: 900px;
   margin: 0 auto;
}

.top_section {

    margin-top: 100px;
        
    display: flex; 
    
    align-items: flex-end;
}
        
.top_section h1 {
        
    font-size: 50px;
        
    font-weight: bold;
        
    color: #111112;
        
    text-transform: uppercase;
        
    }
        
.top_section h4{
        
    font-size: 30px;
        
    text-align: end;
    }
        
.image_container {
        
    border-radius: 1000%;
        
    overflow: hidden;
        
        }
.image_container,img {

    width: 300px;

    height: 320px;

}

.about_section {

    margin-top: 50px;

}

.about_section h2 {

   font-size: 70px;

   font-weight: 400; 

   margin-bottom: 20px;

}

.about_section p{

   font-size: 20px;

   line-height: 30px;

   letter-spacing: 2px;
}   
footer {
    margin: 50px 0;
}
footer p{
    text-align: end;
}